.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-image: url(./images/background.png);
    width: 95rem;
    height: 48rem;
}

.contentSection {
    width: 80%;
    height: 80%;
    background-color: #c6e2fa;
    border-radius: 12px;
    box-shadow: 2px 9px 30px -7px rgba(0,0,0,0.65);
    display: flex;
    margin-left: 11%;
    margin-top: 6%;
}

.card{
    background-color: white;
    width: 26%;
    height: 71%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 29rem;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 8px;
}

.imageStyle{
    width: 80%;
    border-radius: 8px;
}